/**
 * Created by NieFZ on 2016-03-05
 */
.com_container .com_inner {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background: #ffffff;
  border-radius: 1rem; }
  .com_container .com_inner .com_info {
    height: 3.6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    color: #427aef; }
    .com_container .com_inner .com_info i {
      line-height: 3.6rem;
      font-size: 3.4rem; }
    .com_container .com_inner .com_info h2, .com_container .com_inner .com_info p {
      line-height: 1.8rem;
      font-size: 1.2rem; }
    .com_container .com_inner .com_info .com_status {
      width: 9.2rem;
      height: 2.4rem;
      line-height: 2.2rem;
      margin-top: .6rem;
      margin-bottom: .6rem;
      background: #427aef;
      font-size: 1.2rem;
      color: #ffffff;
      text-align: center;
      border-radius: 1.2rem; }
  .com_container .com_inner .info_line {
    height: .4rem;
    background: #c9c9c9;
    border-radius: .4rem; }
  .com_container .com_inner .status_info .status_text {
    height: 4rem;
    line-height: 4rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    color: #ff0000; }
  .com_container .com_inner .status_info .service, .com_container .com_inner .status_info .verify {
    padding-right: 1rem;
    padding-left: 1rem; }
  .com_container .com_inner .status_info .s_link, .com_container .com_inner .status_info .v_link {
    height: 4rem;
    line-height: 4rem;
    background: #ffa100;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    border-radius: .4rem; }
  .com_container .com_inner .status_info .s_m, .com_container .com_inner .status_info .v_m {
    margin-left: 2%; }
  .com_container .com_inner .status_info .service {
    height: 4rem; }
    .com_container .com_inner .status_info .service .s_link {
      width: 32%; }
      .com_container .com_inner .status_info .service .s_link.s_m {
        margin-right: 2%; }
  .com_container .com_inner .status_info .verify {
    height: 6rem; }
    .com_container .com_inner .status_info .verify .v_operate {
      width: 49%; }
      .com_container .com_inner .status_info .verify .v_operate .v_link {
        width: 100%; }
      .com_container .com_inner .status_info .verify .v_operate .vs_link {
        margin-top: .8rem;
        line-height: 1.2rem;
        font-size: 1.2rem;
        color: #5e5e5e;
        text-decoration: underline; }

.com_container .com_line {
  height: .4rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: #427aef;
  border-radius: .4rem; }

.com_container .com_create {
  display: block;
  width: 23.4rem;
  height: 5rem;
  line-height: 5rem;
  background: #427aef;
  color: #ffffff;
  text-align: center;
  border-radius: 2.5rem; }
  .com_container .com_create i {
    font-size: 2.2rem; }
  .com_container .com_create em {
    font-size: 1.2rem; }
